<div id="account-forgot-password-view"
	data-role="view"
	data-model="app.accountForgotPasswordService.viewModel"
	data-before-show="app.accountForgotPasswordService.beforeShow"
	data-transition="fade">
    <header data-role="header">
        <div data-role="navbar">
            <a class="nav-button" data-align="left" href="#views/account/login.html" data-role="backbutton"></a>
            
			<span data-role="view-title">
				Forgot Password
			</span>
        	<div class="clear"></div>
		</div>
	</header>
	
	<div class="wrapper">
		<form action="" class="form">
			<ul>
				<li>
				<p>Enter your email address and we will send you a link to reset your password.</p>
				<br />
				</li>
				<li>
					<input type="text" placeholder="Email*" data-bind="value: email"  />
					<button data-role="button" data-bind="click: send" class="register-btn green-btn" style="width:100%" >Reset Password</button>
				</li>
				
			</ul>
		</form>
	</div>
	
	<div data-role="footer"></div>
</div>